DB_USER=<YOUR_DATABASE>
DB_NAME=<YOUR_DB_NAME>
DB_PASSWORD=<YOUR_DB_PASSWORD>

# Recomended for macOS
# openssl rand -base64 32
# Windows can use https://generate-secret.vercel.app/32
AUTH_SECRET=<YOUR_AUTH_SECRET>

DATABASE_URL="postgresql://<YOUR_DB_NAME>:<YOUR_DB_PASSWORD>@localhost:5432/<YOUR_DB_NAME>?schema=public"