DATABASE_USER=<YOUR_DATABASE_USER>
DATABASE_PASSWORD=<YOUR_DATABASE_PASSWORD>
DATABASE_NAME=<YOUR_DATABASE_NAME>
DATABASE_URL="postgresql://<YOUR_DATABASE_USER>:<YOUR_DATABASE_PASSWORD>@localhost:5432/<YOUR_DATABASE_NAME>?schema=public"

# Impuestos
NEXT_PUBLIC_COUNTRY_TAX=<YOUR_COUNTRY_TAX>

# Paypal
# https://developer.paypal.com/dashboard
NEXT_PUBLIC_PAYPAL_CLIENT_ID=<YOUR_PAYPAL_CLIENT_ID>
PAYPAL_SECRET=<YOUR_PAYPAL_SECRET>

# (POST) Endpoint público del lado de PayPal usado para generar el token de acceso
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token

# (GET) Endpoint del lado de PayPal usado para confirmar el estado de una transacción.
# Es necesario tener un token de acceso.
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

# Recomendado para macOS: openssl rand -base64 32
# Windows: https://generate-secret.vercel.app/32
AUTH_SECRET=<YOUR_AUTH_SECRET>