@import 'tailwindcss';
@tailwind utilities;

@layer base {
  button {
    cursor: pointer;

    &:is([disabled]) {
      cursor: not-allowed;
    }
  }
}

:root {
  --primary: #faa72cff;
  --background: #f3f4ef;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Paleta de colores */
  --black: #000000ff;
  --burnt-peach: #ec7b59ff;
  --carrot-orange: #f69830ff;
  --dark-cyan: #1c9189ff;
  --golden-orange: #f3a844ff;
  --lime: #00ff00ff;
  --orange: #faa72cff;
  --seaweed: #49ad89ff;
  --soft-apricot: #f2d3b1ff;
}

@theme {
  --color-brand-primary: var(--carrot-orange);
  --color-brand-primary-hover: var(--soft-apricot);

  /* TODO: nombrar las variables según funcionalidad */
  --color-brand-black: var(--black);
  --color-brand-burnt-peach: var(--burnt-peach);
  --color-brand-carrot-orange: var(--carrot-orange);
  --color-brand-dark-cyan: var(--dark-cyan);
  --color-brand-golden-orange: var(--golden-orange);
  --color-brand-lime: var(--lime);
  --color-brand-orange: var(--orange);
  --color-brand-seaweed: var(--seaweed);
  --color-brand-soft: var(--soft-apricot);
}
/* TODO: Soporte modo dark; ¿si o no?
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  @apply bg-brand-orange hover:bg-brand-seaweed rounded px-4 py-2 text-white transition-all duration-500;
}

.btn-secondary {
  @apply rounded bg-gray-200 px-4 py-2 text-black transition-all duration-500 hover:bg-gray-300;
}
